<!DOCTYPE html>
<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
        <link rel="stylesheet" href="../css/styles.css" type="text/css">
        <script src="../js/jquery-3.1.1.js"></script>
        <script src="../js/watch.js" type="text/javascript"></script>
        <script src="../js/scripts.js"></script>
        <script>

        var phase = {{phase|json_encode|raw}};
        Object.setPrototypeOf(phase,Phase.prototype);

        </script>
        <meta charset="utf-8">
        <title>Hangman Wars</title>
    </head>
    <body>
      <div class="logo">
        <img src="../img/hangman-titleanimframes.gif" alt="Hangman Title Gif" />
      </div>
      <div class="container" id="end_state">
        <div id="total_loss" class="">
          <div class="middle">
            <img class="" src="../img/empty-skulls.png" alt="" />
            <h1>Sorry, you failed to guess before your army was picked off by the garrison.  The pitiful remnants have been pushed into the sea.</h1>
            <br>
            <form class="" action="/" method="get">
              <button class="btn btn-danger" type="submit" name="button">Try again!</button>
            </form>
          </div>
        </div>
        <div id="battle_win" class="">
          <div class="middle">
            <img src="../img/victory.png" alt="" height="400px"/>
            <h1>"{{phase.phrase}}"</h1>
            <h2>-{{author}}</h2>
            <h1>Congratulations, you succeeded in sieging the castle, and still have <span class="scoring" id="end_score">Scores</span> troops remaining.</h1>
            <form class="" action="/win_condition" method="post">
              <input type="hidden" name="final_score" value="" id="final_score">
              <input type="hidden" name="author_id" value="{{ author_id }}">
              <input type="hidden" name="state_id" value="{{ state_id }}">
              <button class="btn btn-danger" type="submit" name="button">March Onward!</button>
            </form>
          </div>
        </div>
        <div id="battle_lose" class="">
          <div class="middle">
            <img src="../img/battlefield.png" alt="" />
            <h1>"{{phase.phrase}}"</h1>
            <h2>-{{author}}</h2>
            <h1>Though you succeeded in winning this siege, all your current troops have been exhausted.</h1>
            <h2>You must have at least a few survivors before you may press on!</h2>
            <br>
            <form class="" action="/loss_condition" method="post">
              <input type="hidden" name="author_id" value="{{ author_id }}">
              <input type="hidden" name="state_id" value="{{ state_id }}">
              <button class="btn btn-danger" type="submit" name="button">Bring up the fresh levies!</button>
            </form>
          </div>
        </div>

      </div>
        <div class="container" id="play_state">
          <div class="row">
            <div class="col-md-4 left" id="player-knights">
              <img src="../img/Knight-graphic.png" alt="A picture of a knight" id="player-knight1" class="animated fadeInLeftBig">
              <img src="../img/Knight-graphic.png" alt="A picture of a knight" id="player-knight2" class="animated fadeInLeftBig">
              <img src="../img/Knight-graphic.png" alt="A picture of a knight" id="player-knight3" class="animated fadeInLeftBig">
            </div>
            <div class="col-md-4 middle" id="middle-animation">
            </div>
            <div class="col-md-4 right">
              <img src="../img/ComputerKnight-graphic.png" alt="A picture of a knight" id="computer-knight"class="animated fadeInRightBig">
              <img src="../img/ComputerKnight-graphic.png" alt="A picture of a knight" id="computer-knight2" class="animated fadeInRightBig">
            </div>
          </div>
          <div class="wordplay-section">
            <div class="row">
              <div class="col-md-6 left">
                <h2>Soldiers remaining: <span id="player_score" class="scoring">Scores</span></h2>
              </div>
              <div class="col-md-6 right">
                <h2>Soldiers remaining: <span id="computer_score">Scores</span></h2>
              </div>
            </div>
              <div class="row">
                  <div class="col-sm-12">
                      <div class="box" id="left_square">
                          <h2 id="displayPhrase">Phrase in this box</h2>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="box" id="center_square">
                          <h2 id="displayLetters">Word in this box</h2>
                          <h3>Letters guessed so far:</h3>
                          <h3 id="alreadyGuessed"></h3>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="box" id="right_square">
                          <h2 id="availableLetters">Alphabet in this box?</h2>
                          <br>
                          <form id="guess_letter_form">
                            <div class="form-group">
                              <label for="guess_letter">Guess a Letter:</label>
                              <input type="text" id="guess_letter" class="form-control">
                            </div>
                            <!-- <button type="submit" class="btn btn-info">Guess!</button> -->
                          </form>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </body>
</html>
